{% extends 'projects/base.html' %}

{% block title %}
  Projects - Portfolio Mihai
{% endblock %}

{% block content %}
  <h1>My Projects:</h1>

  {% if user.is_authenticated and user.is_superuser %}
    <a href="{% url 'add_project' %}">+ Add Project</a>
  {% endif %}

  <div class="project-grid">
    {% for project in projects %}
      <div class="project-card">
        <div class="project-inner">
          {% if project.image %}
            <div class="project-img-wrapper">
              <img src="{{ project.image.url }}" alt="{{ project.title }}">
            </div>
          {% endif %}
          <div class="project-info">
            <a href="{{ project.link }}" target="_blank"><h3>{{ project.title }}</h3></a>
            <p>{{ project.description }}</p>
  
            {% if user.is_authenticated and user.is_superuser %}
              <div class="admin-links">
                <a href="{% url 'edit_project' project.pk %}">Edit</a>
                <a href="{% url 'delete_project' project.pk %}">Delete</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  
  
{% endblock %}
